---
import { SITE } from '~/utils/config';
---

<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
   <img
      src="https://res.cloudinary.com/dsxmae0xw/image/upload/v1676727860/Print_Lab/logo_ocl5ua.png"
      alt="am print lab logo"
      class="inline-block h-16 w-auto"
    />
</span>
